- provide(:title, @user.email)

.row
  .col-md-6
    %table.table
      %tr
        %td Name:
        %td= @user.name
      %tr
        %td Organization:
        %td= @user.organization.name
      %tr
        %td Email:
        %td= @user.email

= link_to 'Edit profile', edit_user_registration_path