= simple_form_for @order do |f|

  - Category.all.each do |category|
    = f.association :items, :label => category.name, :multiple => false, :collection => @items.where(category: category)
    =# f.association :items, :label => category.name, as: :check_boxes, :collection => @items.where(category: category)

  = f.button :submit