.panel.panel-default
  .panel-heading
    By #{order.user.name}
  %table.table
    %tbody
      - order.item_associations.each do |item_association|
        %tr
          %td= item_association.item.name
          %td= item_association.price
  .panel-footer
    Total: #{order.total}